{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Generate a New Report {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="companyID">Company ID</label>
        <input type="text" name="companyID"
               placeholder="ID of company" class="form-control"
               value="{{ request.form['companyID'] }}"></input>
    </div>
    <!---
    <div class="form-group">
        <label for="type">Type of Report</label>
        <input type="text" name="type"
               placeholder="download or learn or value" class="form-control"
               value="{{ request.form['type'] }}"></input>
    </div>
    -->
    <div class="form-group">
        <label for="test">Type</label> <br>
        <input type="radio" name="options" id="download" value="download"> Download </input><br>
        <input type="radio" name="options" id="learn" value="learn"> Learn </input><br>
        <input type="radio" name="options" id="value" value="value" onclick="this.checked=false;
        alert('Sorry, this option is not available yet!')"> Value </input><br>
    </div>

    <div class="form-group">
        <label for="groupBy">Group By?</label>
        <input type="text" name="groupBy"
               placeholder="level, dept, dept2, etc." class="form-control"
               value="{{ request.form['groupBy'] }}"></input>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
