{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">{% block title %} Reports Generated ({{reports|length}}) {% endblock %}</h1>
    {% for report in reports %}
        <a href="{{ url_for('report', report_id=report['id']) }}">
            <h2>Company {{ report['companyID'] }} {{ report['options'] }} by {{ report['groupBy'] }} </h2>
        </a>
        <span class="badge badge-primary">{{ report['created'] }}</span>
        <!-- <a href="{{ url_for('deleteReport', id=report['id']) }}">
            <span class="badge badge-warning">Delete</span>
        </a> -->
        <hr>
    {% endfor %}
{% endblock %}
